.dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
  cursor: pointer;
}

.selectedOption {
  background-color: #252525;
  color: #b5b5b5;
  padding: 10px 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  margin-left: 8px;
  transition: transform 0.2s;
}

.options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  background-color: #252525;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 8px 0;
  max-height: 200px;
  overflow-y: auto;
}

.option {
  padding: 10px 16px;
  color: #b5b5b5;
  cursor: pointer;
}

.option:hover,
.option.selected {
  background-color: #505050;
  color: white;
}
